<div class="container my-5">
    <h1 class="text-center my-5 display-5"> SOLICITA TU PRESTAMO </h1>
    <div class="row">
        <div class="col-md-6 mb-5">
            <h1 class="text-success mb-5 text-center"> Fácil y Rápido </h1>
            <h3 class="text-center">Te prestamos desde <strong class="text-danger"> 50USD a 500USD</strong>, tenemos la
                menor tasa
                de interes del mercado y el plazo mas amplio, con un rango de <strong class="text-danger">6 a 72
                    meses</strong>.</h3>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <h2 class="mb-4 text-center">Fomulario de solicitud</h2>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Nombres y Apellidos">

                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1"
                        placeholder="Numero de Indentificacíon">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Celular">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputPassword1"
                        placeholder="Correo Electrónico">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Valor">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Aceptas términos y condiciones</label>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="" class="btn btn-outline-success btn-lg">REGISTRATE Y SOLICITAR PRESTAMO AHORA</a>
    </div>
</div>