<hr>
<div class="container text-center my-5">
    <h2 class="display-5 mb-5">Requisitos mínimos</h2>
    <div class="row">
        <div class="col-md-4">
            <p>Ser mayor de edad</p>
        </div>
        <div class="col-md-4">
            <p>Tener una cuenta en Bancolombia</p>
        </div>
        <div class="col-md-4">
            <p>No estar reportado en centrales de riesgo</p>
        </div>
        <div class="col-md-4">
            <p>Tener E-mail</p>
        </div>
        <div class="col-md-4">
            <p>Ser Colombiano</p>
        </div>
        <div class="col-md-4">
            <p>Ganar mas de 2 SMLV</p>
        </div>
    </div>
</div>